html, body {
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
}

canvas {
  display: block;
}

h3{
  color:white;
  margin:0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.back-button{
  background-color: orangered;
  padding:5px;
}

a{
  text-decoration: none;
  color:white;
}
